<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-UA-Compatible" content="IE=edge">
    <mete name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Accubooks</title>
        <script src="https://kit.fontawesome.com/a7687d0ad9.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

</head>
<body> 
    {% block navbar %}
    {% endblock %}   
    {% block content %}
    {% endblock %}   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>