{% extends "base.html" %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
{% block content %}

{% include "sidebar.html" %}
<div class="container">
    <div class="password-container">
        <div class="wrapper-container">

            <div class="form-box change-password">
                <h2>Change Password</h2>

                <form method="POST">
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <input type="password" id="password" name="password" required>
                        <label>Old Password</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <input type="password" id="new_password" name="new_password" required>
                        <label>New Password</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <input type="password" id="new_password_confirm" required>
                        <label>Confirm Password</label>
                    </div>
                    <button type="submit" id="change_button" class="btn" disabled>Change</button>
                </form>
                
                <script>
                    // Get the input elements
                    const newPasswordInput = document.getElementById('new_password');
                    const confirmPasswordInput = document.getElementById('new_password_confirm');
                    const changeButton = document.getElementById('change_button');
                
                    // Function to check if the passwords match
                    function checkPasswords() {
                        if (newPasswordInput.value === confirmPasswordInput.value) {
                            changeButton.disabled = false; // Enable the button
                        } else {
                            changeButton.disabled = true; // Disable the button
                        }
                    }
                
                    // Add event listener to the confirm password input
                    confirmPasswordInput.addEventListener('input', checkPasswords);
                </script>
        </div>
    </div>
</div>
</div>
{% endblock %}
