
<div class="sidebar">
    <ul>
        
        <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i>Dashboard</a></li>
        <li><a href="{{ url_for('products') }}"><i class="fas fa-box-open"></i>Product</a></li>
        <li><a href="{{ url_for('purchase') }}"><i class="fas fa-cart-shopping"></i>Purchase</a></li>
        <li><a href="{{ url_for('sales') }}"><i class="fas fa-box-open"></i>Sales</a></li>
        <li><a href="{{ url_for('account') }}"><i class="fas fa-file-invoice-dollar"></i>Account</a></li>
        
    </ul>
    <ul>
        <li><a href="{{ url_for('logout') }}"><i class="fas fa-arrow-right-from-bracket"></i>Logout</a></li>
    </ul>
</div>